@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  color: rgb(var(--foreground-rgb));
}

.dark-mode {
  color-scheme: dark;
}

.light-mode {
  color-scheme: light;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
